<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
                {% include menu_icon.html %}
            </label>
            <div class="trigger">
            <a class="page-link" href="/en">EN</a>
            <a class="page-link" href="/it">IT</a>
            <a class="page-link" href="/ru">RU</a>
            <a class="page-link" href="/ukr">UKR</a>
            </div>
        </nav>
    </div>
</header>
